# Add any directories, files, or patterns you don't want to be tracked by version control
src/Samurai/.vs

src/Samurai/Temp

src/Samurai/Library
src/Samurai/Logs
src/Samurai/.idea
src/Samurai/Assembly-CSharp.csproj
src/Samurai/Assembly-CSharp-Editor.csproj
src/Samurai/Samurai.sln
src/Samurai/Samurai.csproj
src/Samurai/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

src/Samurai/obj

.vs
/builds
src/Samurai/Assets/Plugins/Editor/JetBrains

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config


